# Direct connection to the database. Used for migrations
SUPABASE_DATABASE_URL="postgresql://postgres.[project-ref]:[password]@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

# Open Router API key
OPENROUTER_API_KEY="sk-or-v1-your-openrouter-key"

#Langchain API key
LANGCHAIN_API_KEY="your-langchain-api-key"
LANGCHAIN_PROJECT="synaptiqpay-recommendations"

#Demo password
DEMO_PASSWORD="your-demo-password"
